{% extends 'layouts.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
    <div class="row">
 

        {% for produto in produtos %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + produto.image_1)}}" alt="{{ produto.name }}" class="card-img-top" height="180">
                    <div class="card-body">
                        {% if produto.discount is not none and produto.discount > 0 %}
                        <h5 style="text-shadow: 1px 2px 2px #000; color: red;" class="text-center">
                            Desconto de {{ produto.discount }}%>
                        </h5>
                        {% endif %}
                        <h4 class="text-center">{{ produto.name }}</h4>
                        <p class="text-center">Preço R${{ produto.price }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{url_for('pagina_unica',id=produto.id)}}" class="float-left btn btn-sm btn-success">Detalhes</a>
                        
                        <form action="{{url_for('AddCart')}}" method="POST">
                          <input type="hidden" name="produto_id" value="{{ produto.id }}">
                          <button type="submit" class="btn btn-sm btn-warning float-right">Adicionar Carrinho</button>
                        
                          <input type="hidden" name="quantidade" value="1" min="1" max="{{produto.stock}}">
                          {% set color = produto.color.split(',') %}
                     
                          <select name="color" id="color" style="visibility: hidden;">
                              {% for c in color %}
                              {% set c = c.split(':') %}
                              <option value="{{ c[0] }}">{{ c[0]|capitalize }}</option>
                              {% endfor %}
                          </select>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    </div>
</div>
{% endblock %}
