{% extends "layouts.html" %}

{% block content %}

{% include 'navbar.html' %}

<div class="container mt-4">
    {% include '_messages.html'%}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Imagem</th>
                        <th>Nome</th>
                        <th>Cor</th>
                        <th>Preco</th>
                        <th>Quantidade</th>
                        <th>Desconto</th>
                        <th>Subtotal</th>
                        <th>Atualizar</th>
                        <th>Remover</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, produto in session['LojainCarrinho'].items() %}
                    {% set discount = "%0.2f" | format((produto.discount)/100 * produto.price|float) %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><img src="{{url_for('static', filename='images/'+ produto.image)}}" alt="{{produto.name}}" width="50", height="50"></td>

                        <td>{{produto.name}}</td>

                        <form action="{{url_for('updateCarro',code=key)}}" method="POST">
                            <td>
                                {% set colors = produto.color.split(',') %}
                                <label for="color">Cor do Produto:</label>
                                <select name="color" id="color">
                                    {% for c in colors %}
                                    {% set c = c.split(':') %}
                                    <option value="{{ c[0] }}">{{ c[0]|capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </td>                            
                            <td> R$ {{produto.price}}</td>
                            <td><input type="number" name="quantity" min="1" max="10" value="{{produto.quantity}}"></td>
                            
                            {%if produto.discount > 0 %}
                                <td>{{produto.discount}} % &nbsp; = {{discount}}</td>
                            {%else%}
                            <td></td>
                            {%endif%}
                            {% set subtotal = produto.quantity|int * produto.price|float %}
                            <td>R$ {{"%0.2f"|format((subtotal|float) - discount|float)}}</td>
                                
                            <td><button type="submit" class="btn btn-sm btn-success">Atualizar</button></td>

                        </form>

                    
                        <td><a href="{{url_for('removeItem', id=key)}}" class="btn btn-sm btn-danger">Remover</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                <table class="table table-sm">
                    <tr>
                        <td></td>
                        <td><a href="{{url_for('pedido_order')}}" class="btn btn-primary btn-sm float-left">Processar Compra</a></td>
                        <td colspan="3"></td>
                        <td colspan="5">Valor a Pagar: &nbsp; R${{valorapagar}}</td>
                        <td> <a href="{{url_for('limparcarro')}}" class="btn btn-danger btn-sm float-right"> Limpar Carrinho</a></td>

                    </tr>
                </table>
        </div>
    </div>
</div>


{% endblock content %}

