{% extends 'layouts.html' %}

{% block content %}

{% include 'navbar.html' %}
<div class="message">
{% include '_messages.html'%}</div>
{% if show_banner == true %}
  <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{{url_for('static', filename='images/banner_img_01.jpg')}}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>J&E</b> Variedades</h1>
                            <h3 class="h2">A loja mais aleatória da internet</h3>
                            <p>
                              A J & E Variedades é a loja online mais aleatória da internet, oferecendo uma seleção única e imprevisível de produtos para todos os gostos. Com itens que vão desde o prático ao inusitado, é o lugar certo para quem busca novidades fora do comum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{{url_for('static', filename='images/banner_img_02.jpg')}}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                          <h1 class="h1 text-success"><b>J&E</b> Variedades</h1>
                            <p>
                              Na J & E Variedades, você encontra de tudo um pouco: acessórios, gadgets, itens de decoração, utilidades domésticas e muito mais. Cada visita ao site é uma nova experiência, com produtos diferentes a cada clique, ideais para presentes criativos ou para quem adora descobrir algo inesperado sem sair de casa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{{url_for('static', filename='images/banner_img_03.jpg')}}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                          <h1 class="h1 text-success"><b>J&E</b> Variedades</h1>
                            <p>
                              Com uma proposta descontraída e atendimento próximo, a J & E Variedades aposta em uma curadoria divertida e acessível. A loja é perfeita para quem gosta de explorar produtos únicos e originais, sempre com a surpresa de encontrar algo que nem sabia que precisava!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
{% endif %}

<div class="container">
    <div class="row">
        {% if marca %}

        {% for m in marca.items %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + m.image_1)}}" alt="{{ m.name }}" class="card-img-top" height="180">
                    <div class="card-body">
                        {% if m.discount > 0 %}
                        <h5 style="text-shadow: 1px 2px 2px #000; color: red;" class="text-center">Desconto de {{ m.discount }}%</h5>
                        {% endif %} 
                        <h4 class="text-center">{{ m.name }}</h4>
                        <p class="text-center">Preço R${{ m.price }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{url_for('pagina_unica',id=m.id)}}" class="float-left btn btn-sm btn-success">Detalhes</a>
                        <form action="{{url_for('AddCart')}}" method="POST">
                          <input type="hidden" name="produto_id" value="{{ m.id }}">
                          <button type="submit" class="btn btn-sm btn-warning float-right">Adicionar Carrinho</button>
                        
                          <input type="hidden" name="quantidade" value="1">
                          {% set color = m.color.split(',') %}
                     
                          <select name="color" id="color" style="visibility: hidden;">
                              {% for c in color %}
                              {% set c = c.split(':') %}
                              <option value="{{ c[0] }}">{{ c[0]|capitalize }}</option>
                              {% endfor %}
                          </select>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
      <div class="col text-center">

        {% if marca.has_prev %}
        {% if marca.total > 4 %}

        <a href="{{url_for('get_marca',id=get_m.id,page=get_m_prod.prev_num)}}" class="btn btn-success btn-sm mt-3">Anterior</a>
        {% endif %}

        {% for page_num in marca.iter_pages(left_edge=1, right_edge=2,left_current=1,right_current=2) %}
          {% if page_num %}

            {% if marca.pagina == page_num %}
              <a href="{{url_for('get_marca',id=get_m.id,page=page_num)}}" class="btn btn-success btn-sm mt-3">{{page_num}}</a>
            {% else %}
              <a href="{{url_for('get_marca',id=get_m.id,page=page_num)}}" class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
          {% endif %}

          {% else %}
          ...
          {% endif %}

        {% endfor %}
        {% endif %}

        {% if marca.has_prev %}
          <a href="{{url_for('get_marca', id=get_m.id,page=get_m_prod.next_num)}}" class="btn btn-success btn-sm mt-3">Proximo</a>
        {% endif %}
      </div>
    </div>

    <div class="row">
        {% elif get_cat_prod %}
        {% for get_cat in get_cat_prod.items %}
        
            <div class="col-md-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + get_cat.image_1)}}" alt="{{ get_cat.name }}" class="card-img-top" height="180">
                    <div class="card-body">
                        <h4 class="text-center">{{ get_cat.name }}</h4>
                        <p class="text-center">Preço R${{ get_cat.price }}</p>
                        {% if get_cat.discount > 0 %}
                        <h5 style="text-shadow: 1px 2px 2px #000; color: red;" class="text-center">Desconto de {{ get_cat.discount }}% </h5>
                        {% endif %} 
                    </div>
                    <div class="card-footer">
                        <a href="{{url_for('pagina_unica',id=get_cat.id)}}" class="float-left btn btn-sm btn-success">Detalhes</a>
                        
                        <form action="{{url_for('AddCart')}}" method="POST">
                          <input type="hidden" name="produto_id" value="{{ get_cat.id }}">
                          <button type="submit" class="btn btn-sm btn-warning float-right">Adicionar Carrinho</button>
                        
                          <input type="hidden" name="quantidade" value="1">
                          {% set color = get_cat.color.split(',') %}
                     
                          <select name="color" id="color" style="visibility: hidden;">
                              {% for c in color %}
                              {% set c = c.split(':') %}
                              <option value="{{ c[0] }}">{{ c[0]|capitalize }}</option>
                              {% endfor %}
                          </select>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="row">
          <div class="col text-center">
    
            {% if get_cat_prod.has_prev %}
            <a href="{{url_for('get_categoria',id=get_cat.id,page=get_cat_prod.prev_num)}}" class="btn btn-success btn-sm mt-3">Anterior</a>
            {% endif %}
            
            {% if get_cat_prod.total > 4 %}

            {% for page_num in get_cat_prod.iter_pages(left_edge=1, right_edge=2,left_current=1,right_current=2) %}
              {% if page_num %}
    
                {% if get_cat_prod.pagina == page_num %}
                  <a href="{{url_for('get_categoria',id=get_cat.id,page=page_num)}}" class="btn btn-success btn-sm mt-3">{{page_num}}</a>
                {% else %}
                  <a href="{{url_for('get_categoria',id=get_cat.id,page=page_num)}}" class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
              {% endif %}
    
              {% else %}
              ...
              {% endif %}
    
            {% endfor %}
            {% endif %}
    
            {% if get_cat_prod.has_next %}
              <a href="{{url_for('get_categoria', id=get_cat.id,page=get_cat_prod.next_num)}}" class="btn btn-success btn-sm mt-3">Proximo</a>
            {% endif %}
          </div>
        </div>

        <div class="row">
        {% else %}

        {% for produto in produtos.items %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + produto.image_1)}}" alt="{{ produto.name }}" class="card-img-top" height="180">
                    <div class="card-body">
                        <h4 class="text-center">{{ produto.name }}</h4>
                        <p class="text-center">Preço R${{ produto.price }}</p>
                        {% if produto.discount is not none and produto.discount > 0 %}
                        <h5 style="text-shadow: 1px 2px 2px #000; color: red;" class="text-center">
                            Desconto de {{ produto.discount }}% 
                        </h5>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <a href="{{url_for('pagina_unica',id=produto.id)}}" class="float-left btn btn-sm btn-success">Detalhes</a>
                        
                        <form action="{{url_for('AddCart')}}" method="POST">
                          <input type="hidden" name="produto_id" value="{{ produto.id }}">
                          <button type="submit" class="btn btn-sm btn-warning float-right">Adicionar Carrinho</button>
                        
                          <input type="hidden" name="quantidade" value="1" min="1" max="{{produto.stock}}">
                          {% set color = produto.color.split(',') %}
                     
                          <select name="color" id="color" style="visibility: hidden;">
                              {% for c in color %}
                              {% set c = c.split(':') %}
                              <option value="{{ c[0] }}">{{ c[0]|capitalize }}</option>
                              {% endfor %}
                          </select>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
      <div class="col text-center">

        {% if produtos.has_prev %}
        <a href="{{url_for('home', page=produtos.prev_num)}}" class="btn btn-success btn-sm mt-3">Anterior</a>
        {% endif %}

        {% if produtos.total > 4 %}

        {% for page_num in produtos.iter_pages(left_edge=1, right_edge=2,left_current=1,right_current=2) %}
          {% if page_num %}

            {% if produtos.pagina == page_num %}
              <a href="{{url_for('home', page=page_num)}}" class="btn btn-success btn-sm mt-3">{{page_num}}</a>
            {% else %}
              <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
          {% endif %}

          {% else %}
          ...
          {% endif %}

        {% endfor %}
        {% endif %}

        {% if produtos.has_next %}
          <a href="{{url_for('home', page=produtos.next_num)}}" class="btn btn-success btn-sm mt-3">Proximo</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
