{% extends 'layouts.html' %}

{% block content %}
<div class="container">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Pagina Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" href="/">Todos os Produtos</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Marca | Fabricantes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for marca in marcas %}
                    <a class="dropdown-item" href="{{url_for('get_marca', id=marca.id)}}">{{ marca.name }}</a>
                {% endfor %}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for categoria in categorias %}
                    <a class="dropdown-item" href="{{url_for('get_categoria', id=categoria.id)}}">{{ categoria.name }}</a>
                {% endfor %}
            </div>
            
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container">
    <div class="row">
        {% if marca %}

        {% for m in marca %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + m.image_1)}}" alt="{{ m.name }}" class="card-img-top" height="180">
                    <div class="card-body">
                        {% if m.discount > 0 %}
                        <h5 style="text-shadow: 1px 2px 2px #000; color: red;" class="text-center">Desconto de {{ m.discount }}%</h5>
                        {% endif %} 
                        <h4 class="text-center">{{ m.name }}</h4>
                        <p class="text-center">Preço R${{ m.price }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="float-left btn btn-sm btn-success">Detalhes Produto</a>
                        <a href="#" class="float-right btn btn-sm btn-warning">Comprar</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% elif get_cat_prod %}

        {% for get_cat in get_cat_prod %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + get_cat.image_1)}}" alt="{{ get_cat.name }}" class="card-img-top" height="180">
                    <div class="card-body">
                        {% if get_cat.discount > 0 %}
                        <h5 style="text-shadow: 1px 2px 2px #000; color: red;" class="text-center">Desconto de {{ get_cat.discount }}%</h5>
                        {% endif %} 
                        <h4 class="text-center">{{ get_cat.name }}</h4>
                        <p class="text-center">Preço R${{ get_cat.price }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="float-left btn btn-sm btn-success">Detalhes Produto</a>
                        <a href="#" class="float-right btn btn-sm btn-warning">Comprar</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% else %}

        {% for produto in produtos %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + produto.image_1)}}" alt="{{ produto.name }}" class="card-img-top" height="180">
                    <div class="card-body">
                        {% if produto.discount is not none and produto.discount > 0 %}
                        <h5 style="text-shadow: 1px 2px 2px #000; color: red;" class="text-center">
                            Desconto de {{ produto.discount }}%>
                        </h5>
                        {% endif %}
                        <h4 class="text-center">{{ produto.name }}</h4>
                        <p class="text-center">Preço R${{ produto.price }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="float-left btn btn-sm btn-success">Detalhes Produtos</a>
                        <a href="#" class="float-right btn btn-sm btn-warning">Comprar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock content%}