{% extends 'layouts.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        {% if marca %}

        {% for m in marca.items %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + m.image_1)}}" alt="{{ m.name }}" class="card-img-top" height="180">
                    <div class="card-body">
                        {% if m.discount > 0 %}
                        <h5 style="text-shadow: 1px 2px 2px #000; color: red;" class="text-center">Desconto de {{ m.discount }}%</h5>
                        {% endif %} 
                        <h4 class="text-center">{{ m.name }}</h4>
                        <p class="text-center">Preço R${{ m.price }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{url_for('pagina_unica',id=m.id)}}" class="float-left btn btn-sm btn-success">Detalhes</a>
                        <form action="{{url_for('AddCart')}}" method="POST">
                          <input type="hidden" name="produto_id" value="{{ m.id }}">
                          <button type="submit" class="btn btn-sm btn-warning float-right">Adicionar Carrinho</button>
                        
                          <input type="hidden" name="quantidade" value="1">
                          {% set color = m.color.split(',') %}
                     
                          <select name="color" id="color" style="visibility: hidden;">
                              {% for c in color %}
                              {% set c = c.split(':') %}
                              <option value="{{ c[0] }}">{{ c[0]|capitalize }}</option>
                              {% endfor %}
                          </select>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
      <div class="col text-center">

        {% if marca.has_prev %}
        {% if marca.total > 4 %}

        <a href="{{url_for('get_marca',id=get_m.id,page=get_m_prod.prev_num)}}" class="btn btn-success btn-sm mt-3">Anterior</a>
        {% endif %}

        {% for page_num in marca.iter_pages(left_edge=1, right_edge=2,left_current=1,right_current=2) %}
          {% if page_num %}

            {% if marca.pagina == page_num %}
              <a href="{{url_for('get_marca',id=get_m.id,page=page_num)}}" class="btn btn-success btn-sm mt-3">{{page_num}}</a>
            {% else %}
              <a href="{{url_for('get_marca',id=get_m.id,page=page_num)}}" class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
          {% endif %}

          {% else %}
          ...
          {% endif %}

        {% endfor %}
        {% endif %}

        {% if marca.has_prev %}
          <a href="{{url_for('get_marca', id=get_m.id,page=get_m_prod.next_num)}}" class="btn btn-success btn-sm mt-3">Proximo</a>
        {% endif %}
      </div>
    </div>

    <div class="row">
        {% elif get_cat_prod %}
        {% for get_cat in get_cat_prod.items %}
        
            <div class="col-md-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + get_cat.image_1)}}" alt="{{ get_cat.name }}" class="card-img-top" height="180">
                    <div class="card-body">
                        {% if get_cat.discount > 0 %}
                        <h5 style="text-shadow: 1px 2px 2px #000; color: red;" class="text-center">Desconto de {{ get_cat.discount }}%</h5>
                        {% endif %} 
                        <h4 class="text-center">{{ get_cat.name }}</h4>
                        <p class="text-center">Preço R${{ get_cat.price }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{url_for('pagina_unica',id=get_cat.id)}}" class="float-left btn btn-sm btn-success">Detalhes</a>
                        
                        <form action="{{url_for('AddCart')}}" method="POST">
                          <input type="hidden" name="produto_id" value="{{ get_cat.id }}">
                          <button type="submit" class="btn btn-sm btn-warning float-right">Adicionar Carrinho</button>
                        
                          <input type="hidden" name="quantidade" value="1">
                          {% set color = get_cat.color.split(',') %}
                     
                          <select name="color" id="color" style="visibility: hidden;">
                              {% for c in color %}
                              {% set c = c.split(':') %}
                              <option value="{{ c[0] }}">{{ c[0]|capitalize }}</option>
                              {% endfor %}
                          </select>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="row">
          <div class="col text-center">
    
            {% if get_cat_prod.has_prev %}
            <a href="{{url_for('get_categoria',id=get_cat.id,page=get_cat_prod.prev_num)}}" class="btn btn-success btn-sm mt-3">Anterior</a>
            {% endif %}
            
            {% if get_cat_prod.total > 4 %}

            {% for page_num in get_cat_prod.iter_pages(left_edge=1, right_edge=2,left_current=1,right_current=2) %}
              {% if page_num %}
    
                {% if get_cat_prod.pagina == page_num %}
                  <a href="{{url_for('get_categoria',id=get_cat.id,page=page_num)}}" class="btn btn-success btn-sm mt-3">{{page_num}}</a>
                {% else %}
                  <a href="{{url_for('get_categoria',id=get_cat.id,page=page_num)}}" class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
              {% endif %}
    
              {% else %}
              ...
              {% endif %}
    
            {% endfor %}
            {% endif %}
    
            {% if get_cat_prod.has_next %}
              <a href="{{url_for('get_categoria', id=get_cat.id,page=get_cat_prod.next_num)}}" class="btn btn-success btn-sm mt-3">Proximo</a>
            {% endif %}
          </div>
        </div>

        <div class="row">
        {% else %}

        {% for produto in produtos.items %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + produto.image_1)}}" alt="{{ produto.name }}" class="card-img-top" height="180">
                    <div class="card-body">
                        {% if produto.discount is not none and produto.discount > 0 %}
                        <h5 style="text-shadow: 1px 2px 2px #000; color: red;" class="text-center">
                            Desconto de {{ produto.discount }}%>
                        </h5>
                        {% endif %}
                        <h4 class="text-center">{{ produto.name }}</h4>
                        <p class="text-center">Preço R${{ produto.price }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{url_for('pagina_unica',id=produto.id)}}" class="float-left btn btn-sm btn-success">Detalhes</a>
                        
                        <form action="{{url_for('AddCart')}}" method="POST">
                          <input type="hidden" name="produto_id" value="{{ produto.id }}">
                          <button type="submit" class="btn btn-sm btn-warning float-right">Adicionar Carrinho</button>
                        
                          <input type="hidden" name="quantidade" value="1" min="1" max="{{produto.stock}}">
                          {% set color = produto.color.split(',') %}
                     
                          <select name="color" id="color" style="visibility: hidden;">
                              {% for c in color %}
                              {% set c = c.split(':') %}
                              <option value="{{ c[0] }}">{{ c[0]|capitalize }}</option>
                              {% endfor %}
                          </select>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
      <div class="col text-center">

        {% if produtos.has_prev %}
        <a href="{{url_for('home', page=produtos.prev_num)}}" class="btn btn-success btn-sm mt-3">Anterior</a>
        {% endif %}

        {% if produtos.total > 4 %}

        {% for page_num in produtos.iter_pages(left_edge=1, right_edge=2,left_current=1,right_current=2) %}
          {% if page_num %}

            {% if produtos.pagina == page_num %}
              <a href="{{url_for('home', page=page_num)}}" class="btn btn-success btn-sm mt-3">{{page_num}}</a>
            {% else %}
              <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-success btn-sm mt-3">{{page_num}}</a>
          {% endif %}

          {% else %}
          ...
          {% endif %}

        {% endfor %}
        {% endif %}

        {% if produtos.has_next %}
          <a href="{{url_for('home', page=produtos.next_num)}}" class="btn btn-success btn-sm mt-3">Proximo</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
