{% extends "layouts.html" %}

{% block content %}

{% include 'navbar.html' %}

<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <h3>Detalhes do Pedido</h3>
            Numero do Pedido: {{pedido_order.notafiscal}} <br>
            Data do Pedido: {{pedido_order.data_criado}} <br>
            Status: {{pedido_order.status}} <br>
            Nome do Cliente: {{cliente.name}} <br>
            Email: {{cliente.email}} <br>
            Telefone: {{cliente.contact}} <br>
            <br>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nome</th>
                        <th>Cor</th>
                        <th>Preco</th>
                        <th>Quantidade</th>
                        <th>Desconto</th>
                        <th>Subtotal</th>
                        
                    </tr>
                </thead>

                <tbody>
                    {% for key, produto in pedido_order.pedido.items() %}
                    {% set discount = "%0.2f" | format((produto.discount)/100 * produto.price|float) %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{produto.name}}</td>

                        <form action="{{url_for('updateCarro',code=key)}}" method="POST">
                            <td>
                                {{produto.color|capitalize}}
                            </td>                            
                            <td> R$ {{produto.price}}</td>
                            <td>{{produto.quantity}}</td>
            
                            {%if produto.discount > 0 %}
                                <td>{{produto.discount}} % &nbsp; = {{discount}}</td>
                            {%else%}
                            <td></td>
                            {%endif%}
                            {% set subtotal = produto.quantity|int * produto.price|float %}
                            <td>R$ {{"%0.2f"|format((subtotal|float) - discount|float)}}</td>

                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                <table class="table table-sm">
                    <tr>
                        <td></td>
                        <td>
                            {%if pedido_order.status == 'Pago' %}
                            
                            {%else%}
                            <form action="{{url_for('pagamento')}}" method="POST">

                                <input type="hidden" name="invoice" value="{{pedido_order.notafiscal}}">
                                <input type="hidden" name="total" value="{{gTotal}}">
                                <script
                                    src="https://checkout.stripe.com/checkout.js"
                                    class="stripe-button"
                                    data-key="pk_test_51QJx6TGjTd6wOkkdfE6OGOzgB8Vqj3ngPZ90qMeUpo26NDIBsoRhL52PnpeU6FQfjKCVeGHK0AHEl0YrrfXrFnGc007KIrqJp0"
                                    data-description="Pagamento Seguro"
                                    data-amount="{{gTotal * 100}}"
                                    data-currency="brl">
                                </script>
                            </form>
                            {%endif%}
                            
                        
                        
                        
                        </td>
                        <td colspan="3"></td>
                        <td colspan="5">Valor a Pagar: &nbsp; R${{gTotal}}</td>
                        <td>
                            <form action="{{url_for('get_pdf', notafiscal=pedido_order.notafiscal)}}" method="POST">
                                <button type="submit" class="btn btn-warning btn-sm float-right">Gerar PDF</button>
                            </form>
                        </td>
                    </tr>
                </table>
        </div>
    </div>
</div>


{% endblock content %}

