
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    width: 100%;
    padding: 0;
    display: inline-block;
}
.container-navbar{
    position: relative;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    width: 1920px;
}
.container-fluid {
    margin: 0;
    align-items: flex-start;
    width: auto;
    height: 70px;
    align-items: center;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;

}

.container {
    width: 100%;

    }