
body {
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
    margin: 0;
    width: 100%;
    padding: 0;
    display: inline-block;
}
.container-navbar{
    position: relative;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    width: 1920px;
}
.container-fluid {
    margin: 0;
    align-items: flex-start;
    width: auto;
    height: 70px;
    align-items: center;
}

.nav-item {
    margin-left: 10px;
    margin-right: 65px;
    padding-left: 15px;
    

}

.container {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    align-content: center;
    justify-content: center;

}



.titulo {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color:black;
    padding: 10px;
}

.banner-text {
    color: black;
    padding: 10px;
}

#template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: #59ab6e;
  }
#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
    color: #59ab6e !important;
    font-size: 2.8em !important;
}