{% extends 'layouts.html' %}


{% block content %}

{% include '_messages.html'%}
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">

        <div class="container-fluid">
          <a class="navbar-brand" href="#">Administrador</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('admin')}}">Produtos <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('marcas')}}">Fabricantes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('categoria')}}">Categorias</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add Produtos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{url_for('addproduto')}}">Add Produto</a>
                  <a class="dropdown-item" href="{{url_for('addmarca')}}">Add Marca</a>
                  <a class="dropdown-item" href="{{url_for('addcat')}}">Add Categoria</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>
<div class="container mt-3">
    <table class="table table-sm table-striped">
        <thead>
            <th>Serial</th>
            <th>Produto</th>
            <th>Preco</th>
            <th>Desconto</th>
            <th>Fabricante</th>
            <th>Foto </th>
            <th>Editar</th>
            <th>Deletar</th>

        </thead>

        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{produto.name}}</td>
                <td>{{produto.price}}</td>
                <td>{{produto.discount}} %</td>
                <td>{{produto.marca.name}}</td>
                <td><img src="{{url_for('static', filename='images/' + produto.image_1)}}" width="150" height="100"></td>
                <td><a href="{{url_for('updateproduto',id=produto.id)}}" class="btn btn-success btn-sm">Editar</a></td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ produto.id }}">
                    Deletar
                  </button>
                </td>
            </tr>
 
<div class="modal fade" id="exampleModal-{{ produto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ produto.name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class = "text-danger">Tem certeza que deseja deletar o produto {{ produto.name }}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm" data-bs-dismiss="modal">Cancelar</button>
        
        <form action="{{url_for('deleteproduto', id=produto.id)}}" method="POST">
          <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
        </form>
      </div>
    </div>
  </div>
</div>

          
            {% endfor %}
            
        </tbody>


    </table>
</div>

{% endblock content %}
