{% extends 'layouts.html' %}


{% block content %}

{% include '_messages.html'%}
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/admin">Administrador</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/marcas">Fabricantes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categoria">Categorias</a>
                </li>  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</div>
<div class="container mt-3">
  <table class="table table-sm table-striped">
      <thead>
          <th>Serial</th>
          <th>Nome</th>
          <th>Editar</th>
          <th>Deletar</th>
      </thead>
      <tbody>
          {% if marcas %}
          {% for marca in marcas %}
          <tr>
              <td>{{ loop.index }}</td>
              <td>{{ marca.name }}</td>
              <td><a href="{{ url_for('updatemarca', id=marca.id) }}" class="btn btn-sm btn-outline-success">Editar</a></td>
              <td>
                  <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ marca.id }}">
                      Deletar
                  </button>
              </td>
          </tr>

          <div class="modal fade" id="exampleModal-{{marca.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{marca.name}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ url_for('deletemarca', id=marca.id) }}" method="POST">
                  <div class="modal-body">
                    <span class="text-danger">Tem certeza que deseja deletar este Fabricante {{ marca.name }}?</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Deletar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
          {% endfor %}
          {% else %}

          {%for categoria in categorias %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{categoria.name}}</td>

            <td><a href="{{url_for('updatecat', id=categoria.id)}}" class="btn btn-sm btn-outline-success">Editar</a></td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ categoria.id }}">
                Deletar
              </button>
            </td>
          </tr>

          <div class="modal fade" id="exampleModal-{{categoria.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{categoria.name}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{url_for('deletecat', id=categoria.id)}}" method="POST">
                  <div class="modal-body">
                    <span class="text-danger">Tem certeza que deseja deletar esta Categoria {{categoria.name}}?</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Deletar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          {% endfor %}
          {% endif %}
      </tbody>
  </table>
</div>

{% endblock content %}
